# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build outputs
app/build/

# Kotlin
*.class

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db
